body {
  background: linear-gradient(to bottom, #a9d9a9, #7ace7a);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.AppActions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppBox {
  display: flex;
  background-color: white;
  height: 450px;
  padding: 50px;
  border-radius: 25px;
  border: 1px solid grey;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppBox button {
  margin-top: 50px;
  width: 100%;
  padding: 15px;
  background-color: #a9d9a9;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 20px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  border: 1px solid;
  background-color: #a9d9a9;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 75%;
  background-color: #ebebeb;
}

.createTitle,
.seeAllTitle,
.verifyTitle,
.updateTitle,
.deleteTitle {
  display: flex;
  color: black;
  font-weight: 1000;
  -webkit-text-stroke: 1px black;
  justify-content: flex-start;
  padding-left: 25px;
}

.createPanel,
.seeAllPanel,
.updatePanel,
.verifyInfo,
.deletePanel  {
  display: flex;
  margin-top: 30px;
  padding-left: 25px;
  flex-direction: column;
}

.verifyPanel {
  display: flex;
  margin-top: 30px;
  padding-left: 25px;
  flex-direction: row;
}

.createPanel input,
.verifyPanel input,
.updatePanel input,
.deletePanel input  {
  width: 50%;
  padding: 15px;
  margin-bottom: 10px;
}

.createPanel button,
.updatePanel button,
.deletePanel button {
  width: 52.3%;
  padding: 15px;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: #a9d9a9;
  transition: background-color 0.3s;
  cursor: pointer;
}

.createPanel p {
  font-size: 18px;
}

.seeAllPanel th {
  background-color: #a9d9a9;
  border: 1px solid black;
  font-size: 20px;
}

.seeAllPanel td {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

.seeAllTable {
  width: 100%;
}

.seeAllTable th:nth-child(3),
.seeAllTable td:nth-child(3) {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.verifyPanel button {
  width: 15%;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #a9d9a9;
  transition: background-color 0.3s;
  cursor: pointer;
}

.verifyName,
.verifyEmail {
  display: flex;
}

.infoTxt {
  font-size: 20px;
  font-weight: bold;
}

.infoValue {
  font-size: 20px;
}

.updateId {
  margin-bottom: 30px;
}

.token-container {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.sideBar h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 1000;
  -webkit-text-stroke: 1px grey;
}

.actions button {
  width: 100%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border-color: grey;
  cursor: pointer;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.back button {
  width: 100%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border-color: grey;
  cursor: pointer;
}

.actions button,
.back button {
  width: 100%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border-color: grey;
  transition: background-color 0.3s;
  cursor: pointer;
}

.actions button:hover,
.back button:hover{
  background-color: lightgrey;
}

.AppBox button:hover,
.createPanel button:hover,
.verifyPanel button:hover,
.updatePanel button:hover {
  background-color: white;
}

.input {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}