body {
  background-color: rgb(190, 190, 190);
}

.App {
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token-container {
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: auto;
  margin-bottom: 20px;
}

.actions {
  display: flex;
}

.actions button {
  margin-left: 20px;
}

.input {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.create {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.create input {
  margin-top: 10px;
}

.create button {
  margin-top: 10px;
}

.textshow {
  margin-top: 20px;
  display: flex;
}

.back {
  margin-top: 20px;
}